$bg-color: #f3f7fa;
$white: #ffffff;
$main-text: #4a4a4a;
$second-color: #9abbce;
$gray-header: #a0b0b9;
$border-color: #dfe5ec;
$hover-color: #f1fcff;
$blue: #2196f3;
$blue-lighten: lighten($blue, 20%);
$red: #f66b6b;
$shadow-color: #0000001a;
$border-radius: 5px;

//resolution
$res-xxl: 1440px;
$res-xl: 1366px;
$res-l: 1280px;
$res-m: 1024px;
$res-s: 768px;
$res-xs: 520px;
$res-xxs: 320px;
